div.cross-full {
	text-align: center;
	display: table;
	height:100%;
	width:100%;
	z-index:-1;
	margin:0;
	position: absolute;
	top:0;
}

div.cross-full div.cross-mid {
	display: table-cell;
	vertical-align:middle;
	background:none;
}