div.logger {
	text-align: left;
	margin-left: 18px;
}

div.logger div.log {
	padding: 1px 4px 2px 3px;
	display: inline-block;
	margin-bottom: -1px;
	color:white;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: calc(50% - 17px);
	width: auto;
	font-size:11px;
}

div.logger div.log-error {
	font-weight:bold;
	font-size:13px;
	padding: 3px 6px 4px 5px
}