.menu div.buttons, .submenu {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: flex-start;
	margin: 5px 0 0 0;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	 -khtml-user-select: none; /* Konqueror */
	   -moz-user-select: none; /* Firefox */
		-ms-user-select: none; /* Internet Explorer/Edge */
			user-select: none; /* Non-prefixed version, currently
								  not supported by any browser */
}

.submenu {

}

.menu div.button, .menu div.button-down, .submenu div.button, .submenu div.button-down {
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	width: 70px;
	height: 89px;
	background-color: #606060;
	margin: 5px;
	padding: 0px;
	cursor: pointer;
	color: #ffffff;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	font-family:monospace;
}

.menu div.button:hover, .submenu div.button:hover {
	background-color: #555555;
}

.menu div.button-down:hover, .submenu div.button-down:hover {
	background-color: #404040;
}

.menu div.button:active, .menu div.button-down, .submenu div.button:active {
	background-color: #474747;
}

div.material-icons {
	display: inline-block;
	font-size: 48px;
}

.menu .button-icon {
	width:48px;
	height:48px;
	font-size: 48px;
}

div.label {
	display: inline-block;
	height: 30px;
	font-size:13px;
	vertical-align:middle;
}

.menu div.disabled, .menu div.disabled:hover, .menu div.disabled:active {
	color:#999999
}

